<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.swe.healthcareapplication">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".BaseApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".view.SplashActivity"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".view.TimeTableActivity"/>
    <activity
      android:label="@string/activity_signin_name"
      android:name=".view.SignInActivity"/>
    <activity
      android:label="@string/activity_signup_user_name"
      android:name=".view.SignUpActivity"/>
    <activity
      android:label="@string/activity_typeselect_name"
      android:name=".view.TypeSelectActivity"/>
    <activity
      android:exported="true"
      android:label="@string/activity_select_trainer_name"
      android:name=".view.SelectTrainerActivity"/>
  </application>

</manifest>