<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="edu.swe.healthcareapplication">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".BaseApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".view.SplashActivity"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".view.MainActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:exported="true"
      android:label="@string/activity_type_select_name"
      android:name=".view.TypeSelectActivity"/>
    <activity
      android:name=".view.SignUpActivity"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:label="@string/activity_select_trainer_name"
      android:name=".view.SelectTrainerActivity"/>
    <activity
      android:label="@string/activity_select_time_name"
      android:name=".view.SelectTimeActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/activity_edit_timetable"
      android:name=".view.EditTimeActivity"
      android:theme="@style/AppTheme.NoActionBar"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:name=".view.ChatRoomActivity"
      android:windowSoftInputMode="stateHidden|adjustResize"/>
    <activity
      android:label="@string/activity_edit_profile"
      android:name=".view.EditProfileActivity"
      android:windowSoftInputMode="stateHidden"/>
    <activity
      android:label="@string/action_user_manage"
      android:name=".view.UserManageActivity"/>
    <activity android:name=".view.UserDetailActivity"/>

    <service
      android:name=".service.ChatNotificationService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service
      android:name=".service.ChatInstanceIdService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>
  </application>

</manifest>